spring/src/test/resources/dataset.dtd

<!ELEMENT dataset (
    WEAPON*,
    CHARACTER*,
    CHAR_WEAP*)>

<!ELEMENT WEAPON EMPTY>
<!ATTLIST WEAPON
    ID CDATA #REQUIRED
    NAME CDATA #IMPLIED
    ATTACK CDATA #IMPLIED
    ATTACKSPEED CDATA #IMPLIED
    ISUSED CDATA #IMPLIED
>

<!ELEMENT CHARACTER EMPTY>
<!ATTLIST CHARACTER
    ID CDATA #REQUIRED
    NAME CDATA #IMPLIED
    RACE CDATA #IMPLIED
    CARRER CDATA #IMPLIED
    LVL CDATA #IMPLIED
>

<!ELEMENT CHAR_WEAP EMPTY>
<!ATTLIST CHAR_WEAP
    CHARACTER_ID CDATA #REQUIRED
    WEAPON_ID CDATA #REQUIRED
>

