springdbunit/src/test/resources/dataset.dtd

<!ELEMENT dataset (
    WEAPON*,
    CHARACTER*,
    CHAR_WEAP*)>

<!ELEMENT WEAPON EMPTY>
<!ATTLIST WEAPON
    ID CDATA #REQUIRED
    NAME CDATA #IMPLIED
    ATTACK CDATA #IMPLIED
    ATTACK_SPEED CDATA #IMPLIED
    IS_MAGIC CDATA #IMPLIED
>

<!ELEMENT CHARACTER EMPTY>
<!ATTLIST CHARACTER
    ID CDATA #REQUIRED
    NAME CDATA #IMPLIED
    RACE CDATA #REQUIRED
    CARRER CDATA 
    LVL CDATA #REQUIRED
>

<!ELEMENT CHAR_WEAP EMPTY>
<!ATTLIST CHAR_WEAP
    CHARACTER_ID CDATA #REQUIRED
    WEAPON_ID CDATA #REQUIRED
>

